html {
    font-size: 20px;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 20rem;
}

main > :first-child {
    margin-top: 2rem;
}

main > :last-child {
    margin-bottom: 10rem;
}

section {
    border: 1px solid #000;
    background-color: #274295;
    color: white;
    text-align: center;
    padding: 2rem;
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
    main > :first-child {
        margin-top: 5rem;
    }

}

